.mos-barchart rect {
  fill: steelblue;
}

.mos-barchart text {
  font: 10px sans-serif;
}

.mos-barchart svg {
}

.mos-barchart g.x.axis {

    .tick {

        line {
        }

        text {
        }
    }

    // the divider between the bars and the legend text
    path {
    }
}

.mos-barchart .controls .axis.y {

  .btn-group {
  }
}

.mos-barchart {

  // Barchart text
  text {
    font: 10px sans-serif;
  }
  .x {
    .startLabel text {
      text-anchor: start;
    }
    .midLabel text {
      text-anchor: middle;
    }
    .endLabel text {
      text-anchor: end;
    }
  }

  // Barchart fill
  rect.temporal {
    fill: #FDB56C;
  }
  rect.area {
    fill: #FC5F6D;
  }
}
