.mos-barchart rect {
  fill: steelblue;
}

.mos-barchart text {
  font: 10px sans-serif;
}

.mos-barchart svg {
}

.mos-barchart g.x.axis {

    .tick {

        line {
        }

        text {
        }
    }

    // the divider between the bars and the legend text
    path {
    }
}

.mos-barchart .controls .axis.y {

  .btn-group {
  }
}

.mos-barchart {

  .x .startLabel text {
    text-anchor: start;
  }

  .x .midLabel text {
    text-anchor: middle;
  }

  .x .endLabel text {
    text-anchor: end;
  }
}
