.mos-scatterplot .axis path,
.mos-scatterplot .axis line {
  fill: none;
  stroke: #666;
}

.mos-scatterplot text {
  fill: #000;
  font: 13px sans-serif;
}

.mos-scatterplot circle {
    fill-opacity: 0.6;
}

.mos-scatterplot .x.axis,
.mos-scatterplot .y.axis {
    .tick {
        line {

        }

        text {

        }
    }

    path {

    }
}

.mos-scatterplot .btn-group {
    // TODO: Add dropdown specific classes for each dropdown when the dropdowns are added
}

//Chart Filters
#filter-scatter-color, #filter-scatter-size {
  position: absolute;
  width: 156px;
  right: 20px;

  .btn{
    width: 100%;
  }
}
#filter-scatter-y {
  position: absolute;
  top: 350px;
  left: 160px;
}
#filter-scatter-color {
  top: 177px;
}
#filter-scatter-size {
  top: 116px;
}

