.mos-scatterplot .axis path,
.mos-scatterplot .axis line {
  fill: none;
  stroke: #666;
}

.mos-scatterplot text {
  fill: #000;
  font: 13px sans-serif;
}

.mos-scatterplot circle {
    fill-opacity: 0.6;
}

.mos-scatterplot .x.axis,
.mos-scatterplot .y.axis {
    .tick {
        line {

        }

        text {

        }
    }

    path {

    }
}

.mos-scatterplot .btn-group {
    // TODO: Add dropdown specific classes for each dropdown when the dropdowns are added
}
