.mos-time-scatterchart {
  margin-top: 40px;
}

.mos-time-scatterchart .chart {
  width: 800px;
  height: 400px;
}

.mos-time-scatterchart .controls {
  margin: 0 20px;
}

.mos-time-scatterchart .legend {
  padding: 5px;
  font: 10px sans-serif;
  background: yellow;
  box-shadow: 2px 2px 1px #888;
}

.mos-time-scatterchart .title {
  font: 13px sans-serif;
  fill: #000;
}

.mos-time-scatterchart circle {
  stroke-width: 1px;
  stroke: #111;
  stroke-opacity: 0.5;
}

.mos-time-scatterchart line {
  fill: #000;
  stroke: #000;
  stroke-width: 3px;
}

.mos-time-scatterchart .axis path {
  fill: none;
  stroke: #666;
}

.mos-time-scatterchart text {
  fill: #000;
  font: 13px sans-serif;
}
