$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "custom/variables";
@import "d3-common";
@import "map";

// MOS Chart Stylings
@import "mos/charts/barChart";
@import "mos/charts/bubbleChart";
@import "mos/charts/scatterChart";
@import "mos/charts/timeScatterChart";

// MOS View Stylings
@import "mos/views/charts";
@import "mos/views/map";
@import "mos/views/info";
@import "mos/views/detail";
@import "mos/views/compare";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */

html {
  font-size: 16px;
}

@media (max-width: 900px) {
  html { font-size: 15px; }
}

@media (max-width: 400px) {
  html { font-size: 13px; }
}

@media(min-width: 1280px){
  html {font-size: 18px;}
}

body{
  font-family: 'Lato', sans-serif;
  color: $body;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 82px;
}

h1, h2, h3, h4, h5{
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

h1{
  margin-top: 40px!important;

  &:after{
    content: '';
    display: block;
    margin: 24px auto 48px auto;
    border-bottom: solid 4px;
    width: 120px;
  }
}

p{
  font-size: 1rem;
}

hr{
  border-color: $table-border!important;
}
.container{
  width: 880px;
  margin: 0 auto;
  padding: 24px 0;

  @media(min-width: 1025px){
    width: 980px;
  }
}

.body-bg{
  background-color: $light-bg;
  padding-bottom: 100px;

  h1{
    color: $heading;
    border-color: $heading;
  }
}

.space{
  padding: 72px 0;
}


/* Custom page header */
.header {
  border-bottom: 1px solid $border;
  padding: 0 36px;
  background-color: #fff;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 14px;
    line-height: 81px;
    display: inline-block!important;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

.hero{
  width: 100%;
  height: 800px;
  display: block;
  background-image: url('../images/hero.png');
  background-position: center center;
  background-size: cover;
  color: $paper!important;
  padding: 200px 0;
}

/* Headroom */
.headroom {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  -ms-transition: .25s;
  transition: transform .25s ease-in-out;

  #logo{
    background-image: url('../images/logo_lg.png');
    background-repeat: no-repeat;
    width: 215px;
    height: 60px;
    display: inline-block;
    float: left;
    margin-top: 10px;

    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
        background-image: url('../images/logo_lg@2x.png');
        background-size: 215px 60px;
    }
  }
}
.headroom--top h3 {
  line-height: 81px;
}
.headroom--unpinned, .headroom--pinned {
  top: 0;
  height: 48px;

  #logo{
    background-image: url('../images/logo_sm.png');
    background-repeat: no-repeat;
    width: 294px;
    height: 24px;
    display: inline-block;
    float: left;
    margin-top: 15px;

    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
        background-image: url('../images/logo_sm@2x.png');
        background-size: 294px 24px;
    }
  }

  .nav-chart, .nav-map, .nav-data, .nav-info{
    display: none;
  }

  h3{
    line-height: 48px;
  }

  .nav-pills > li > a{
    padding: 4px 8px 5px 8px!important;
  }
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

//Navigation
.nav-pills {
  > li {
    float: left;

    // Links rendered as pills
    > a {
      border-radius: 0!important;
      color: $body;
      line-height: 36px;
      padding: 0 10px 10px 10px!important;
      background-color: transparent!important;

      &:hover{
        color: $active;
      }
    }
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $body;
        background-color: transparent!important;
        border-bottom: solid 3px $active;
      }
    }
  }
}
.dropdown-menu > li > a > i{
  opacity: 0.5;
  padding-right: 8px;
}
.nav-icon{
  display: block;
  text-align: center;
  height: 20px;
  margin-top: 12px;
  background-repeat: no-repeat;
  background-position: center;
}
.nav-chart{
  background-image: url('../images/ic_chart.png');

  @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
      background-image: url('../images/ic_chart@2x.png');
      background-size: 26px 20px;
  }
}
.nav-map{
  background-image: url('../images/ic_map.png');

  @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
      background-image: url('../images/ic_map@2x.png');
      background-size: 26px 20px;
  }
}
.nav-data{
  background-image: url('../images/ic_data.png');

  @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
      background-image: url('../images/ic_data@2x.png');
      background-size: 26px 20px;
  }
}
.nav-info{
  background-image: url('../images/ic_info.png');

  @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
      background-image: url('../images/ic_info@2x.png');
      background-size: 26px 20px;
  }
}

//Building Type Classes
.office{
  background-color: $office;
}
.medical-office{
  background-color: $medical-office;
}
.retail{
  background-color: $retail;
}
.data-center{
  background-color: $data-center;
}
.industrial{
  background-color: $industrial;
}
.warehouse{
  background-color: $warehouse;
}
.parking{
  background-color: $parking;
}
.laboratory{
  background-color: $laboratory;
}
.worship{
  background-color: $worship;
}
.municipal{
  background-color: $municipal;
}
.hospital{
  background-color: $hospital;
}
.university{
  background-color: $university;
}
.school{
  background-color: $school;
}
.other{
  background-color: $other;
}
.supermarket{
  background-color: $supermarket;
}
.hotel{
  background-color: $hotel;
}
.multi-family{
  background-color: $multi-family;
}

//Buttons
.btn{
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  white-space: nowrap;
}

.btn-lg{
  margin: 12px;
  padding: 16px 32px;
  font-size: 1rem;
}

.btn-ghost {
  background: rgba(225,225,225,.2);
  color: $paper;
  border: 0!important;

  &:hover,
  &:focus {
    background: rgba(225,225,225,.5);
    color: $paper;
  }
}

.btn-default {
  background: $active;
  color: $paper;
  border: 0!important;

  &:hover {
    background: darken($active, 3%);
    color: $paper;
    box-shadow: 0 0 6px darken($filter-border, 10%);
  }
}

.btn-popover {
  color: $paper!important;
  text-shadow: 0 0 2px rgba(0,0,0,.3)!important;

  &:hover {
    opacity: 1!important;
  }
}

.close {
    opacity: 0.8!important;
    text-shadow: none!important;

    a{
        color: $heading!important;
    }

    &:hover{
        opacity: 1!important;
    }
}

.btn-next {
  background-color: $paper;
  color: $body;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 0 4px $filter-border!important;

  i{
    line-height: 28px;
  }
  &:hover,
  &:focus {
    background-color: $active;
    color: $paper;
    box-shadow: 0 0 6px darken($filter-border, 10%);
  }
}

.btn-filter {
  background-color: $paper;
  color: $heading;
  border-top-right-radius: 4px!important;
  border-top-left-radius: 4px!important;
  border-bottom-right-radius: 4px!important;
  border-bottom-left-radius: 4px!important;
  border: solid 1px $filter-border;
  padding: 10px 18px!important;
  box-shadow: 0 0 4px $filter-border!important;

  &:hover{
    background-color: $active;
    color: $paper;
    box-shadow: 0 0 6px darken($filter-border, 10%);
  }
}

.btn-group, .search-group{
  label{
    position: absolute;
    left: 4px;
    bottom: 40px;
    font-style: italic;
    color: $body;
    font-size: 0.6rem;
  }
}

//Chart Filters
#filter-scatter-color, #filter-scatter-size {
  position: absolute;
  width: 156px;
  right: 20px;

  .btn{
    width: 100%;
  }
}
#filter-scatter-color{
  top: 177px;
}
#filter-scatter-size{
  top: 116px;
}

//Map Filters

#mymap{
  top: 128px;

  .cartodb-legend{
    margin-bottom: 100!important;
  }
}

.search-filter{
  min-width: 240px;
}
.map-filter{
  min-width: 140px;
  margin-left: 14px;

  .btn-group{
    width: 100%;
    .btn{
      width: 100%;
    }
  }
}

.filter-row{
  display: block;
  width: 100%;
  position: relative;
  padding: 24px 12px 12px 12px;
}

.form-control{
  background-color: $paper;
  color: $heading;
  border-top-right-radius: 4px!important;
  border-top-left-radius: 4px!important;
  border-bottom-right-radius: 4px!important;
  border-bottom-left-radius: 4px!important;
  border: solid 1px $filter-border;
  padding: 20px!important;
  box-shadow: 0 0 4px $filter-border!important;
}

.glyphicon-search{
  padding: 12px;
}

//Homepage
.stats-callout{
  background-color: $callout;
  color: $paper;

  .jumbo{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 12rem;
  }
}

.next{
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
}

.explore{
  height: 300px;
  padding: 60px;
  text-align: center;
}

//Footer
.footer{
  background-image: url('../images/footer_top.png');
  background-position: top center;
  background-color: $dark-bg;
  background-repeat: no-repeat;
  padding: 48px 0;

  strong{
    color: $paper;
  }

  h4{
    color: $paper;
    opacity: 0.8;
  }

  p a{
    color: $active;
    opacity: 0.7;

    &:hover{
      opacity: 1;
    }
  }
}

/* Support for panel snapping */
html, body, .content, .chart-hero, .chart-footer {
  margin: 0;
  width: 100%;
  height: 100%;
}

.chart-hero .container {
  padding-top: 250px;
}

.snapshot .container {
  padding-top: 100px;
}

.title {
  padding: 100px 0 20px 0;
}

.panel-snap-container {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
}

.panel-snap-container section {
  position: relative;
  overflow: hidden;
  padding: 50px;
  width: 100%;
  height: 100%;
}

.chart-row {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 700px;
}

.chart-container{
  background-color: #f0f1f2;
}

.chart-filter{
  display: block;
  width: 100%;
}
.stats-row {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 200px;
}

.compare-button-container {
  position: absolute;
  top: 0; right: 20px;
}

.filterHeader {
  height: 80px;
  margin-top: 48px;
  background-color: $light-bg;
  border-bottom: solid 1px $filter-border;
}

/* Support for glossary */
.glossary {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;

  .dropdown-menu {
    width: 400px;
    height: 400px;
    overflow: hidden;
    padding: 0 10px;
    border-radius: 8px;

    .header{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      background-color: $callout;
      padding: 8px 12px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      h4{
        color: $paper!important;
      }
    }

    .content{
      position: absolute;
      top: 60px;
      width: 100%;
      display: block;
      padding: 12px;
      overflow-y: scroll;
    }
  }

  .wrapper {
    margin: 4px 8px 16px 8px;
  }

  .label {
    font-family: 'Lato', sans-serif;
    color: $heading;
    font-size: 1rem;
    font-weight: 400;
    margin: 12px 0;
    white-space: normal;
    padding: 0!important;
  }

  .description {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 0.8rem;
    color: #777;
  }
}

.headerPopup{
  padding: 18px;
  color: $paper;
  text-shadow: 0 0 2px rgba(0,0,0,.3)!important;

  h4{
    margin: 8px 0 0 0!important;
  }
}

.popupContent{
  padding: 18px;
}

.featurePopup p{
  margin: 8px 0!important;
  font-size: 0.7rem;

  strong{
    float: right;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 1rem;
    color: $heading;
  }
}

.leaflet-container a.leaflet-popup-close-button{
  color: $paper!important;
  text-shadow: none!important;
  padding: 6px 6px 0 0!important;
}

.cartodb-legend, .cartodb-legend-stack{
  box-shadow: 0 0 4px $filter-border!important;
  border-color: $filter-border!important;
}

.div.cartodb-legend.custom ul li .bullet{
  border-color: $border!important;
}
