$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "custom/variables";
@import "d3-common";
@import "map";

// MOS Chart Stylings
@import "mos/charts/barChart";
@import "mos/charts/bubbleChart";
@import "mos/charts/scatterChart";
@import "mos/charts/timeScatterChart";

// MOS View Stylings
@import "mos/views/charts";
@import "mos/views/map";
@import "mos/views/info";
@import "mos/views/detail";
@import "mos/views/compare";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */

html {
  font-size: 16px;
}

@media (max-width: 900px) {
  html { font-size: 15px; }
}

@media (max-width: 400px) {
  html { font-size: 13px; }
}

@media(min-width: 1280px){
  html {font-size: 18px;}
}

body{
  font-family: 'Lato', sans-serif;
  color: $body;
  font-size: 0.8rem;
  font-weight: 400;
}

h1, h2, h3, h4{
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

h1{

  &:after{
    content: '';
    display: block;
    margin: 24px auto 48px auto;
    border-bottom: solid 4px;
    width: 120px;
  }
}

p{
  font-size: 1rem;
}

hr{
  border-color: $table-border!important;
}
.container{
  width: 90%;
  margin: 0 5%;
  padding: 24px 0;
}

.body-bg{
  background-color: $light-bg;
  padding-bottom: 100px;

  h1{
    color: $heading;
    border-color: $heading;
  }
}

.space{
  padding: 72px 0;
}


/* Custom page header */
.header {
  border-bottom: 1px solid $border;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 14px;
    line-height: 60px;
    display: inline-block!important;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

.hero{
  width: 100%;
  height: 800px;
  display: block;
  background-image: url('../images/hero.png');
  background-position: center center;
  background-size: cover;
  color: $paper!important;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

//Navigation
.nav-pills {
  > li {
    float: left;

    // Links rendered as pills
    > a {
      border-radius: 0!important;
      color: $body;
      line-height: 57px;
      padding: 0 10px!important;
      background-color: transparent!important;

      &:hover{
        border-bottom: solid 3px $active;
      }
    }
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $body;
        background-color: transparent!important;
        border-bottom: solid 3px $active;
      }
    }
  }
}

//Building Type Classes
.office{
  background-color: $office;
}
.medical-office{
  background-color: $medical-office;
}
.retail{
  background-color: $retail;
}
.data-center{
  background-color: $data-center;
}
.industrial{
  background-color: $industrial;
}
.warehouse{
  background-color: $warehouse;
}
.parking{
  background-color: $parking;
}
.laboratory{
  background-color: $laboratory;
}
.worship{
  background-color: $worship;
}
.municipal{
  background-color: $municipal;
}
.hospital{
  background-color: $hospital;
}
.university{
  background-color: $university;
}
.school{
  background-color: $school;
}
.other{
  background-color: $other;
}
.supermarket{
  background-color: $supermarket;
}
.hotel{
  background-color: $hotel;
}
.multi-family{
  background-color: $multi-family;
}

//Buttons
.btn{
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 0!important;
  white-space: nowrap;
}

.btn-lg{
  margin: 12px;
  padding: 16px 32px;
  font-size: 1rem;
}

.btn-ghost {
  background: rgba(225,225,225,.2);
  color: $paper;

  &:hover,
  &:focus {
    background: rgba(225,225,225,.5);
    color: $paper;
  }
}

.btn-default {
  background: $active;
  color: $paper;

  &:hover,
  &:focus {
    background: darken($active, 3%);
    color: $paper;
  }
}

.close {
    opacity: 0.8!important;
    text-shadow: none!important;

    a{
        color: $heading!important;
    }

    &:hover{
        opacity: 1!important;
    }
}


//Homepage
.stats-callout{
  min-height: 300px;
  padding: 48px;
  background-color: $callout;
  color: $paper;

  .jumbo{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 8rem;
  }
}

.footer{
  background-color: $dark-bg;
  padding: 48px 0;

  strong{
    color: $paper;
  }

  h4{
    color: $paper;
    opacity: 0.8;
  }

  a{
    color: $active;
    opacity: 0.6;

    &:hover{
      opacity: 1;
    }
  }
}
