$body: #666666;
$heading: #2A2A2B;
$paper: #ffffff;
$active: #FF8A88;
$border: #efefef;
$table-border: #cccccc;
$light-bg: #F0F1F2;


//Building Type Colors
$office: #D4E8BC;
$medical-office: #52A634;
$retail: #8FBD84;
$data-center: #B8FFA8;
$industrial: #3B7CB4;
$warehouse: #81ABCC;
$parking: #C9DBE6;
$laboratory: #3AA3FF;
$worship: #9C90C4;
$municipal: #8167A2;
$hospital: #C6B4FF;
$university: #B4555D;
$school: #DD8180;
$other: #FF5C6B;
$supermarket: #E8AE6C;
$hotel: #EDD2A8;
$multi-family: #FFB766;
