.title{
    padding: 100px 0;
    width: 100%;
    display: block;
    background-color: $light-bg;

    h3{
        font-size: 1.4rem;
        margin: 0!important;
    }
}

.table > thead:first-child > tr:first-child > th:first-child{
    border: none!important;
}

.top{
    vertical-align: top!important;
}

.table-compare{
    thead > tr > th {
        border: solid 1px $table-border!important;
        text-align: center;

        i{
            opacity: 0.5;
        }
    }
    tbody > tr > td{
        text-align: center;
        border: solid 1px $table-border!important;
        line-height: 1rem;
        padding: 18px 4px;
        width: 200px;

        &:first-child{
            background-color: $light-bg;
        }
    }
}

.compare{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 0.8rem;
}

.bld-1{
    color: $retail!important;
}

.bld-2{
    color: $warehouse!important;
}

.bld-3{
    color: $school!important;
}

.building{
    display: block;
    text-align: center;
    height: 60px;
    margin-top: 12px;
    background-image: url('../images/ic_building.png');
    background-repeat: no-repeat;
    background-position: center;

    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
        background-image: url('../images/ic_building@2x.png');
        background-size: 28px 60px;
    }
}

path.plot {
  fill: #666;
  opacity: 0.2;
  stroke: none;
  shape-rendering: optimizeSpeed;
}



